<div class="jumbotron">
    <h1>Master Degree Guide</h1>
    <p class="lead">This is a guide to Master Degree Project - To access it please sign in blew.</p>
    <hr />
    <h5>This Form IS Very Important Please Do Not Show It To Any One...</h5>

</div>

<hr />
<form action="~/Home/Run" method="post">
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="UserName">User Name</label>
            <input type="text" class="form-control" id="UserName" name="UserName" placeholder="username">
        </div>
        <div class="form-group col-md-12">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="Password" name="Password" placeholder="Password">
        </div>
        <div class="form-group col-md-12">
            <label for="list">Devolper Set</label><br />
            <select class="btn btn-default dropdown-toggle" name="list" id="list">
                <option value="API">API</option>
                <option value="DatabaseBakup">DatabaseBakup</option>
                <option value="GetLogFile">GetLogFile</option>

            </select>
        </div>

        <div class="form-group col-md-12">

            <button type="submit" class="btn btn-default " style="background-color: #7d7d7d "><strong>Go</strong></button>
            <hr />
        </div>
    </div>

</form>

